{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
   <div class="row">
        <div class="col-sm-4">
            <!-- Empty column -->
        </div>
       <div class="col-md-4 my-form">
           <h1 class="text-center">Forms</h1>
           <form method="post" action="">
                {% for field in form %}
                    <p>{{ field.label }} {{ field }}</p>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
           </form>
       </div>
       <div class="col-sm-4">
           <!-- Empty column -->
       </div>
   </div>
{% endblock %}